@font-face {
    font-family: odin;
    src: url(Norse-Bold.otf)
}

body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#left-page-column {
    width: 25vw;
    min-width: 250px;
    height: 100vh;
    min-height: 300px;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
}

#background-image {
    object-fit: cover;
    max-height: 100vh;
    min-height: 300px;
    min-width: 25vw;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#page-title {
    position: absolute;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.6);
    height: 13vh;
    min-height: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

#odin-logo {
    height: 95%;
    display: flex;
}

#title-text {
    font-family: odin;
    font-size: min(12vh, 5vw);
    margin: 0;
    color: white;
    display: flex;
}

#right-page-column {
    max-width: 40vw;
    min-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#top-description {
    height: 100%;
    display: flex;
    align-items: end;
    padding-bottom: 3vh;
    padding-right: 5vw;
    padding-left: 2vw;
    background-color: #F0F0F0;
}

#top-description p {
    font-size: 3vh;
}

#form {
    height: 100%;
    padding-right: 5vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

legend {
    font-size: 3vh;
    margin-top: 10px;
}

#form-columns {
    display: flex;
    flex-direction: row;
    width: 25vw;
}

.column {
    display: flex;
    flex-direction: column;
    margin: 10px;
    width: 100%;
}

label {
    margin: 20px 5px 0px 0px;
    font-size: 1.8vh;
}

#account-settings {
    height: 100%;
    padding-right: 5vw;
    padding-left: 2vw;
    padding-top: 3vh;
    background-color: #F0F0F0;
    font-size: 2vh;
}

button {
    background-color: #596D48;
    color: white;
    padding: 10px 50px 10px 50px;
    border-radius: 10px;
}


a {
    color: #596D48;
}
