body {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#left-page-column {
    width: 25vw;
    height: 100vh;
    border: 5px solid red;
    overflow: hidden;
    position: relative;
}

#background-image {
    object-fit: cover;
    max-height: 100vh;
    position: absolute;
    top: -9999px;
    bottom: -9999px;
    left: -9999px;
    right: -9999px;
    margin: auto;
}

#page-title {
    position: absolute;
    margin-top: 20vh;
    background-color: rgba(0, 0, 0, 0.6);
    height: 13vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#odin-logo {
    height: 100%;
}

#title-text {
    
}

#right-page-column {
    width: 50vw;
}